/* -----------------------------------------
   Variables
----------------------------------------- */
/* -----------------------------------------
   Mixins
----------------------------------------- */
/* -----------------------------------------
   General styles
----------------------------------------- */
/* -----------------------------------------
   MAIN STYLES
----------------------------------------- */
body {
  background-color: #f4f4f1;
  line-height: 150%;
  font-size: 1.5rem;
  font-size: 15px;
}
a {
  color: #33a646;
}
a:visited,
a:focus {
  color: #33a646;
}
a:hover {
  color: #33a646;
}
a.green {
  color: #33a646 !important;
}
h1 {
  font-size: 27px;
  font-size: 2.7rem;
  font-weight: normal;
  margin: 0 0 5px;
}
h1 .subtitle {
  color: #acacaa;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 0px;
  display: block;
}
h2 {
  color: #acacaa;
  font-size: 13px;
  text-transform: uppercase;
  margin: 25px 0 5px;
}
h3 {
  font-size: 17px;
  margin: 5px 0 15px;
}
ul {
  padding-left: 20px;
}
ul .reset li {
  padding: 3px 0 0;
  line-height: 175%;
}
ul.reset {
  padding: 0;
  list-style: none;
}
ul.reset li {
  padding: 3px 0 0;
  line-height: 175%;
}
.bold {
  font-weight: bold;
}
/* -----------------------------------------
	Buttons
----------------------------------------- */
.btn-success {
  color: #fff !important;
  background-color: #33a646;
}
.btn-heading {
  margin-left: 15px;
  position: relative;
  top: -2px;
  left: 0;
}
/* -----------------------------------------
   HEADER STYLES
----------------------------------------- */
.navbar {
  min-height: auto;
  margin: 0;
  background-color: #222222;
  border: none;
  border-radius: 0;
}
.navbar-brand {
  color: #fff !important;
  font-size: 21px;
  font-weight: bold;
  margin-right: 20px;
}
.navbar-brand .logo-symbol {
  color: #33a646;
  padding-right: 5px;
}
.navbar .nav a {
  color: #acacaa;
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar .nav-ico {
  text-align: center;
  margin-bottom: 2px;
  display: block;
}
.navbar .nav-ico img {
  width: 20px;
}
.navbar .nav .active {
  color: #222222;
  background-color: #f4f4f1;
}
.breadcrumbs {
  color: #acacaa;
  padding: 2px 0 5px;
  background-color: #f4f4f1;
  border-bottom: 1px dashed #acacaa;
}
.breadcrumbs ul {
  margin: 0;
  overflow: hidden;
}
.breadcrumbs li {
  float: left;
}
.breadcrumbs .arrow {
  padding: 2px 7px 0;
  display: inline-block;
}
/* -----------------------------------------
 	CONTENT STYLES
----------------------------------------- */
.content {
  padding: 30px 0 60px;
}
/* -----------------------------------------
 	FORM STYLES
----------------------------------------- */
form .form-control {
  border-color: #acacaa;
  border-radius: 0;
}
form.box-form {
  padding: 10px;
}
form .input-ico {
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 22px;
}
form .input-ico.ico-user {
  background-image: url(../images/icons/svg/user.svg);
}
form .input-ico.ico-phone {
  background-image: url(../images/icons/svg/phone.svg);
}
form .input-ico.ico-mail {
  background-image: url(../images/icons/svg/mail.svg);
}
form .input-ico.ico-office {
  background-image: url(../images/icons/svg/office.svg);
}
/* -----------------------------------------
 	BOX STYLES
----------------------------------------- */
.box {
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.box-list {
  margin-bottom: 0;
}
.box-list li {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 120% !important;
  padding: 0 !important;
  border-bottom: 1px dashed #e4e4e4;
  position: relative;
}
.box-list li:last-child {
  border: none;
}
.box-list li.box-item-space {
  padding: 10px !important;
}
.box-list a {
  color: #2d2d2d;
  padding: 10px !important;
  display: block;
}
.box-list a:hover {
  text-decoration: none;
}
.box-list .box-list-item a {
  display: inline;
}
.box-list .box-item-part {
  color: #acacaa;
}
.box-list .box-item-date {
  color: #acacaa;
  font-size: 13px;
  font-size: 1.3rem;
  display: block;
}
.box-item-space {
  padding: 10px 15px !important;
}
.box-ico img {
  width: 18px;
}
.box-ico img.passive {
  opacity: 0.15;
}
.box-crop .box-item-title {
  width: 83%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-crop .box-item-part {
  position: absolute;
  top: 9px;
  right: 8px;
}
.box .box-action a {
  color: #33a646;
}
.box .dropdown-menu {
  top: 28px;
  right: 4px;
  left: auto;
}
.circle {
  background-color: #acacaa;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
}
.circle.green {
  background-color: #33a646;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.padding-on-top {
  padding-top: 15px;
}
.padding-on-bottom {
  padding-bottom: 15px;
}
.padding-top-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding-on-sides {
  padding-left: 15px;
  padding-right: 15px;
}
.padding-on-left {
  padding-left: 15px;
}
.padding-on-right {
  padding-right: 15px;
}
.large-padding-on-top {
  padding-top: 30px;
}
.large-padding-on-bottom {
  padding-bottom: 30px;
}
.large-padding-top-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}
.large-padding-on-sides {
  padding-left: 30px;
  padding-right: 30px;
}
.large-padding-on-left {
  padding-left: 30px;
}
.large-padding-on-right {
  padding-right: 30px;
}
.no-padding-on-top {
  padding-top: 0;
}
.no-padding-on-bottom {
  padding-bottom: 0;
}
.no-padding-on-sides {
  padding-left: 0;
  padding-right: 0;
}
.no-padding-on-left {
  padding-left: 0;
}
.no-padding-on-right {
  padding-right: 0;
}
/* MARGIN */
.margin-on-top {
  margin-top: 15px;
}
.margin-on-bottom {
  margin-bottom: 15px;
}
.margin-top-bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-on-sides {
  margin-left: 15px;
  margin-right: 15px;
}
.margin-on-left {
  margin-left: 15px;
}
.margin-on-right {
  margin-right: 15px;
}
.large-margin-on-top {
  margin-top: 30px;
}
.large-margin-on-bottom {
  margin-bottom: 30px;
}
.large-margin-top-bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}
.large-margin-on-sides {
  margin-left: 30px;
  margin-right: 30px;
}
.large-margin-on-left {
  margin-left: 30px;
}
.large-margin-on-right {
  margin-right: 30px;
}
.no-margin-on-top {
  margin-top: 0;
}
.no-margin-on-bottom {
  margin-bottom: 0;
}
.no-margin-on-sides {
  margin-left: 0;
  margin-right: 0;
}
.no-margin-on-left {
  margin-left: 0;
}
.no-margin-on-right {
  margin-right: 0;
}
.no-margin-top-bottom {
  margin-top: 0;
  margin-bottom: 0;
}
