<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class=\"no-js ie ie6 lt-ie9 lt-ie8 lt-ie7 \" lang=\"sk\"> <![endif]-->
<!--[if IE 7]>    <html class=\"no-js ie ie7 lt-ie9 lt-ie8\" lang=\"sk\"> <![endif]-->
<!--[if IE 8]>    <html class=\"no-js ie ie8 lt-ie9\" lang=\"sk\"> <![endif]-->
<!--[if IE 9]>    <html class=\"no-js ie ie9\" lang=\"sk\"> <![endif]-->
<!--[if !IE]><html lang=\"sk\"> <![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>EDUOFFICE - Kurzy - MS Word začiatočníci</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/development.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="darkbox">

     <nav class="navbar">
        <div class="container">
           <div class="navbar-header">
               <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html"><span class="logo-symbol">[|]</span>eduoffice</a>
            </div>

            <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                  <li>
                     <a class="active" href="#"><span class="nav-ico"><img src="images/icons/svg/calendar.svg" alt=""></span>Kurzy</a>
                  </li>
                  <li>
                     <a href="#"><span class="nav-ico"><img src="images/icons/svg/company.svg" alt=""></span>Klienti</a>
                  </li>
               </ul>

               <form role="search" class="navbar-form navbar-right">
                  <div class="input-group">
                     <input type="text" class="form-control input-sm" placeholder="Zdajte hľadaný výraz">
                     <span class="input-group-btn">
                        <button class="btn  btn-success btn-sm" type="button">
                           <span class="glyphicon glyphicon-search"></span>
                        </button>
                     </span>
                  </div><!-- /input-group -->
               </form>
            </div><!--/.navbar-collapse -->
         </div><!--/.container -->
      </nav>

      <div class="content">
         <div class="container white">
         	<div class="top-title">
	            <h1>
	               Kurzy
	               <a class="btn btn-success btn-heading" href="#">+ Pridať termín</a>
	            </h1>

	        </div>
	        <div class="main">

			    <div class="row">
			    	<div class="col-sm-3 left-menu">
			    		<h5>Kategórie</h5>
					    	<div class="list-group">
					    		<a class="list-group-item" href="/term?tag=1">word</a>
					    		<a class="list-group-item" href="/term?tag=2">excel</a>
					    		<a class="list-group-item active" href="/term?tag=3">začiatočníci</a>
					    		<a class="list-group-item" href="/term?tag=4">pokročilí</a>
					    		<a class="list-group-item" href="/term?tag=5">internet</a>
					    		<a class="list-group-item" href="/term">všetky kurzy</a>
					    	</div>
			    	</div>
			    	<div class="col-sm-9">
			    		        	<ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Aktuálne kurzy</a></li>
				    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Minulé kurzy<span class="badge"></span></a></li>
				    
				  </ul>
			    		<div class="row">
					        <div class="col-sm-8">
					            <div class="padding-on-top">


			            	<h2  class="ok-date">Kurzy s termínom</h2>
			            	<form class="list-filter form-inline ng-pristine ng-valid ng-scope  margin-on-top margin-on-bottom" role="form">
							  <div class="form-group">
							    <div class="input-group form-field-right-margin">
							      <div class="input-group-addon">
							        <div class="glyphicon glyphicon-search"></div>
							      </div>
							      <input class="form-control ng-pristine ng-untouched ng-valid" placeholder="filter..." ng-model="search.$">
							    </div>
							  </div>
							  <div class="form-group pull-right hidden-xs">
							    <div class="btn-group">
							      <label class="btn btn-default ng-pristine ng-untouched ng-valid active" btn-radio="false" ng-model="fullList">
							        <div class="glyphicon glyphicon-minus"></div>
							      </label>
							      <label class="btn btn-default btn-show-full-list ng-pristine ng-untouched ng-valid" btn-radio="true" ng-model="fullList">
							        <div class="glyphicon glyphicon-list"></div>
							      </label>
							    </div>
							  </div>
							</form>

			               	<ul class="reset box-list box-crop">
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Hodnotiaci pohovor</span>
			                        <span class="box-item-part">(6/8)</span>
			                        <span class="box-item-date">21/1/2015</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Zákon o spotrebnej dani z minerálneho oleja po prijatí poslednej novely</span>
			                        <span class="box-item-part">(1/8)</span>
			                        <span class="box-item-date">25/1/2015</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Daň z príjmu, DPH, Zákon o účtovíctve-3 lekári z MF a Finančnej správy</span>
			                        <span class="box-item-part">(6/8)</span>
			                        <span class="box-item-date">28/1/2015</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Presentation Skills in English 111</span>
			                        <span class="box-item-part">(5/8)</span>
			                        <span class="box-item-date">29/1/2015</span>
			                     </a>
			                  </li><li>
			                     <a href="#">
			                        <span class="box-item-title">Hodnotiaci pohovor</span>
			                        <span class="box-item-part">(6/8)</span>
			                        <span class="box-item-date">21/1/2015</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Zákon o spotrebnej dani z minerálneho oleja po prijatí poslednej novely</span>
			                        <span class="box-item-part">(1/8)</span>
			                        <span class="box-item-date">25/1/2015</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Daň z príjmu, DPH, Zákon o účtovíctve-3 lekári z MF a Finančnej správy</span>
			                        <span class="box-item-part">(6/8)</span>
			                        <span class="box-item-date">28/1/2015</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Presentation Skills in English 111</span>
			                        <span class="box-item-part">(5/8)</span>
			                        <span class="box-item-date">29/1/2015</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#" class="green">
			                        Zobraziť všetky aktuálne kurzy ->
			                     </a>
			                  </li>
			               	</ul>
			            </div>
			        </div>
			        <div class="col-sm-4">
			            <div class="whitebox">
			            	<h2 class="no-date">Kurzy bez termínu</h2>

			               	<ul class="reset box-list box-crop">
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Hodnotiaci pohovor</span>
			                        <span class="box-item-part">(6/8)</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Zákon o spotrebnej dani z minerálneho oleja po prijatí poslednej novely</span>
			                        <span class="box-item-part">(1/8)</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Hodnotiaci pohovor</span>
			                        <span class="box-item-part">(6/8)</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Zákon o spotrebnej dani z minerálneho oleja po prijatí poslednej novely</span>
			                        <span class="box-item-part">(1/8)</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Hodnotiaci pohovor</span>
			                        <span class="box-item-part">(6/8)</span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="box-item-title">Zákon o spotrebnej dani z minerálneho oleja po prijatí poslednej novely</span>
			                        <span class="box-item-part">(1/8)</span>
			                     </a>
			                  </li>
			                </ul>
			            </div>
			        </div>
			    </div>
			</div> <!-- main -->
		
		</div> <!-- container -->
	</div> <!-- content -->



      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
   </body>
</html>
